<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>MapMo</title>
	
	<link rel="stylesheet" type="text/css" href="css/common.css" />
	<link rel="stylesheet" type="text/css" href="css/popup.css" />
	<link rel="stylesheet" type="text/css" href="css/jquery/ui/1.11.4/jquery-ui.min.css" />
</head>
<body>
<div class="left_menu">
	<div>
		<h1 class="app_name">MAPMO</h1>
		<p th:text="${say}">MAPMO에 오신걸 환영합니다!</p>
		<form id="user_form">
			<div sec:authorize="hasRole('ROLE_USER')">
				<ul class="horizon_list">
					<li><img src="http://i19.photobucket.com/albums/b155/akikoprism87/oie_transparent-9-3.png" width="100" height="100" /></li>
					<li><span id="user_name" sec:authentication="name"></span>님</li>
				</ul>
			</div>
			<div>
				<ul class="horizon_list">
					<li sec:authorize="isAnonymous()"><a href="signin">로그인</a></li>
					<li sec:authorize="isAnonymous()"><a href="join">가입</a></li>
					<li sec:authorize="hasRole('ROLE_USER')"><a href="signout">로그아웃</a></li>
					<li sec:authorize="hasRole('ROLE_USER')"><a id="user_modify_btn" href="#">수정</a></li>
				</ul>
			</div>
		</form>
	</div>
	<nav>
		<ul>
			<li>메뉴1</li>
			<li>메뉴2</li>
			<li>메뉴3</li>
			<li>메뉴4</li>
		</ul>	
	</nav>
</div>
<div id="map" class="main_content">
	<section>
		<div id="naver_map">
		
		</div>
	</section>
</div>
<div id="popup"></div>
<script id="template_popup" type="text/template">
	<div class="popup_mapinfo">
		<div>
			<p>구주소(지번) : ##oldAddress##</p>
			<p>도로명주소 : ##roadAddress##</p>
		</div>
		<div>
			<p>평가점수 : ##evaluateScore##</p>
			평가하기 <input id="feedback_score" type="number" max="100" min="0" placeholder="0 ~ 100점까지 평가 가능합니다. "/>
		</div>
		<div>
			<a id="address_feedback_btn" href="#">평가하기</a>
			<a id="address_cancel_btn" href="#">취소하기</a>
		</div>
	</div>
</script>
<script src="js/jquery-1.12.0.min.js"></script>
<script src="js/jquery/ui/1.11.4/jquery-ui.min.js"></script>
<script src="js/utils/validator.js"></script>
<script src="js/user/user.js"></script>
<script src="js/user/userEventHandler.js"></script>
<!-- naver map open api -->
<script src="http://openapi.map.naver.com/openapi/v2/maps.js?clientId=DgYEfRDXPdYGwNd99OQA"></script>
<script type="text/javascript">
//<![CDATA[
	jQuery(document).ready(function() {
		// 유저 이벤트 핸들러 등록
		var user = new MapMo.User();
		user.setName(jQuery("#user_name").val());
		user.setForm(jQuery("#user_form"));
		
		var userEventHandler = new MapMo.UserEventHandler();
		userEventHandler.modifyByName(jQuery("#user_modify_btn"), "click", user);
		
		
		
		////////// Map 관련 스크립트 ////////
		var oValidator = new Validator();
		var oCommonMap = jQuery("#map");
	
		// naver map config
		var oOptions = { 
	            point : new nhn.api.map.LatLng(37.5675451, 126.9773356),
	            zoom : 9,
	            enableWheelZoom : true,
	            enableDragPan : true,
	            enableDblClickZoom : false,
	            mapMode : 0,
	            activateTrafficMap : false,
	            activateBicycleMap : false,
	            minMaxLevel : [ 1, 14 ],
	            size : new nhn.api.map.Size(oCommonMap.width(), oCommonMap.height())           
		};
		
		var oMap = new nhn.api.map.Map(document.getElementById('naver_map'), oOptions); 
	
		// zoom in/out
		var oSlider = new nhn.api.map.ZoomControl();
	    oSlider.setPosition({
	            top : 10,
	            left : 10
	    });
	    
	    oMap.addControl(oSlider);
	    
		// 같은 객체로 하지 않으면 클릭할 때마다 윈도우 정보창이 새로 생긴다.
	    var oWindowInfo = new nhn.api.map.InfoWindow();

    	oMap.attach("click", function(pos) {
	    	oWindowInfo.setVisible(true);
	    	oWindowInfo.setPoint(pos.point);
		    
	    	initPopup();
	    	
	    	jQuery.ajax({
	    		url : "/naver/search/address/x/"+ pos.point.getX() + "/y/" + pos.point.getY(),
	    		method : "GET",
	    		dataType : "json"
	    	}).done(function(data) {
	    		var addresses = data.result.items;
	    		var address = {
    				roadAddress : "주소 없음",
    				oldAddress : "주소 없음"
	    		};
	    		
	    		for (var i = 0; i < addresses.length; i++) {
	    			if (addresses[i].isRoadAddress) {
		    			address.roadAddress = addresses[i].address;
		    			address.roadAddressPoint = addresses[i].point;
	    			} else {
		    			address.oldAddress = addresses[i].address;
		    			address.oldAddressPoint = addresses[i].point;
	    			}
	    		}
	    		
	    		console.log(address);
	    		
	    		oWindowInfo.setContent(fullPopupInfo(address));
	    		oMap.addOverlay(oWindowInfo);
	    		
	    		jQuery("#address_cancel_btn").on("click", function(event) {
	    			event.preventDefault();
	    			
	    			oWindowInfo.setVisible(false);
	    			//oMap.removeOverlay(oWindowInfo); // -_- 리무브가 안되네??
	    		});
	    		
	    		addEventPopup(address);
	    	}).fail(function(error) {
	    		alert("실패" + error);
	    	});
	    });
	    
	    jQuery(window).resize(function() {
	    	oMap.setSize(new nhn.api.map.Size(oCommonMap.width(), oCommonMap.height()));
	    });
	});
	
	function initPopup() {
		jQuery("#popup").text("");
	}
	
	/*
	 * 팝업창에 정보를 채웁니다.
	 * 
	 * 매개변수 : oldAddress, roadAddress 프로퍼티를 가지고 있는 리터럴 객체
	 */
	function fullPopupInfo(address) {
		var templatePopup = jQuery("#template_popup").text();
		templatePopup = templatePopup.replace("##oldAddress##", address.oldAddress);
		templatePopup = templatePopup.replace("##roadAddress##", address.roadAddress);
		return templatePopup;
	}
	
	// address는 API에서 받은 주소 정보를 가지고 있다.
	function addEventPopup(address) {
		jQuery("#address_feedback_btn").on("click", function(event) {
			event.preventDefault();
			
			var x, y;
			// 도로명 주소가 없는 곳이 있어서 없으면 구주소의 좌표를 Key로 지정한다.
			if (address.hasOwnProperty("roadAddressPoint")) {
				x = address.roadAddressPoint.x;
				y = address.roadAddressPoint.y;
			} else {
				x = address.oldAddressPoint.x;
				y = address.oldAddressPoint.y;
			}
			
			// 스코어 (검증 필요 0 ~ 100)
			var score = jQuery("#feedback_score").val();
			if (validator.checkNumberRange(score, 0, 100) == false) {
				alert("평가 점수는 0 ~ 100점만 가능합니다. 확인해주세요.");
				return;
			}
			
			// ajax호출 저장 및 ID는???
			jQuery.ajax({
				url : "/feedback/store",
				method : "POST",
				data : {
					x : x,
					y : y,
					score : score 
				},
				dataType : "string"
			}).done().fail();
		});
	}
           
 //]]>
</script>
</body>
</html>