<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>MapMo</title>
	
	<link rel="stylesheet" type="text/css" href="css/common.css" />
</head>
<body>
<div class="left_menu">
	<div>
		<h1 class="app_name">MAPMO</h1>
		<p th:text="${say}">MAPMO에 오신걸 환영합니다!</p>
		<ul class="horizon_list">
			<li sec:authorize="isAnonymous()"><a href="signin">로그인</a></li>
			<li sec:authorize="hasRole('ROLE_USER')"><a href="signout">로그아웃</a></li>
			<li><a href="join">가입</a></li>
		</ul>
	</div>
	<nav>
		<ul>
			<li>메뉴1</li>
			<li>메뉴2</li>
			<li>메뉴3</li>
			<li>메뉴4</li>
		</ul>	
	</nav>
</div>
<div id="map" class="main_content">
	<section>
		<div id="naver_map">
		
		</div>
	</section>
</div>

<script src="js/jquery-1.12.0.min.js"></script>
<!-- naver map open api -->
<script src="http://openapi.map.naver.com/openapi/v2/maps.js?clientId=DgYEfRDXPdYGwNd99OQA"></script>
<script type="text/javascript">
	var oCommonMap = jQuery("#map");

	// naver map config
	var oOptions = { 
            point : new nhn.api.map.LatLng(37.5675451, 126.9773356),
            zoom : 9,
            enableWheelZoom : true,
            enableDragPan : true,
            enableDblClickZoom : false,
            mapMode : 0,
            activateTrafficMap : false,
            activateBicycleMap : false,
            minMaxLevel : [ 1, 14 ],
            size : new nhn.api.map.Size(oCommonMap.width(), oCommonMap.height())           
	};
	
	var oMap = new nhn.api.map.Map(document.getElementById('naver_map'), oOptions); 

	// zoom in/out
	var oSlider = new nhn.api.map.ZoomControl();
    oSlider.setPosition({
            top : 10,
            left : 10
    });
    
    oMap.addControl(oSlider);
	
    oMap.attach("click", function(pos) {
    	jQuery.ajax({
    		url : "/naver/search/address/x/"+ pos.point.getX() + "/y/" + pos.point.getY(),
    		method : "GET",
    		dataType : "json"
    	}).done(function(data) {
    		alert("성공" + data);
    	}).fail(function(error) {
    		alert("실패" + error);
    	});
    	
    	
    	/* jQuery.ajax({
    		url : "https://openapi.naver.com/v1/map/reversegeocode",
    		method : "GET",
    		data : {
    			query : pos.point.getX() + "," + pos.point.getY(),
    			encoding : "utf-8"
    		},
    		dataType : "json",
    		callback : "resultNaverMap"
    	}).done(function(data) {
    		console.log(data);
    	}).fail(function(error) {
    		console.log(error);
    		alert("네이버 지도에서 응답이 없습니다.");
    	}); */
    });
    
    jQuery(window).resize(function() {
    	oMap.setSize(new nhn.api.map.Size(oCommonMap.width(), oCommonMap.height()));
    });
    
    function resultNaverMap() {
    	
    }
</script>
</body>
</html>